// app global css in SCSS form
.q-field {
    &--dense {
        max-height: 25px !important;
        .q-field__control, .q-field__marginal {
            max-height: 25px !important;
            input {
                max-height: 25px !important;
            }
        }
    }
}